html{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 70%;
    margin: 0 auto;
}
.section1{
    padding: 1% 20%;
}
.section2{
    padding: 1% 20%;
}
.buttongroup-rating{
    border: none;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}
.buttongroup-rating button{
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}
.buttongroup-rating button:hover{
    opacity: 0.8;
 }
.buttongroup-rating h4{
    margin: 1% 0;
}
.buttongroup-rating .submit{
padding: 1% 20px;
}
.button-rating-1{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: red;

}
.button-rating-2{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: orangered;
}
.button-rating-3{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: darkorange;
}
.button-rating-4{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: orange;
}
.button-rating-5{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: yellow;
}
.button-rating-6{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: greenyellow;
}
.button-rating-7{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: lawngreen;
}
.button-rating-8{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: limegreen;
}
.button-rating-9{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: forestgreen;

}
.button-rating-10{
    border-radius: 1px;
    width: 40px;
    height: 30px;
    background-color: green;
}