@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu|Varela+Round&display=swap');

.sitecontainer {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  width: 100%;
  padding: 10px;
  /* /* margin: 8px 0 */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  background-color: #BAE0E8;
  font-family: 'Ubuntu', sans-serif;
}

/* Test */
/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  }

/* Style the input fields */
input {

  margin: 8px 0;
  padding: 10px;
  width: 93%;
  font-size: 17px;
  font-family: Raleway;
  border-radius: 4px;
  border: 1px solid #aaaaaa;
  text-align: center;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

#nextBtn {
  width: 50%;
  background-color: rgb(61, 119, 119);
  border-color: white;
  color: white;
  padding: 5px 20px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

#prevBtn {
  width: 50%;
  background-color: rgb(61, 119, 119);
  border-color: white;
  color: white;
  padding: 5px 20px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

/* Hide all steps by default: */
.tab {
  font-weight: bold;
  text-align: center;
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}


